<a href="https://colab.research.google.com/github/siddu138/Python/blob/master/26_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#find large number from given 3 numbers
a=int(input("enter the number"))
b=int(input("enter the number"))
c=int(input("enter the number"))
if a>b and a>c:
  print(a,"is largest number")
elif b>c and b>a:
  print(b,"is largest number")
else:
  print(c,"is largest number")

enter the number12
enter the number10
enter the number45
45 is largest number

#While Statement
##Syntax:
###while boolean_condition:<br>
           statements<br>
           Increment/Decrement<br>

In [0]:
x=0
while x<5:
  print("gitam")
  x=x+1

gitam
gitam
gitam
gitam
gitam

In [0]:
#print n natural numbers using while loop
#input:10
#output:1 2 3 4 5 6 7 8 9 10
n=int(input("enter range"))
x=0
while x<n:
      x=x+1
      print(x,end=" ")

In [0]:
#add of even numbers
n=int(input("enter numbers"))
i=0
sum=0
while i<n:
  if i %2==0:
    sum=sum+i
  i=i+1
print(sum)

In [0]:
#input=123
#output=321
n=int(input("enter a number"))
while n!=0:
      r=n%10
      print(r)
      n=n//10

#Functional Programming
- Simple
- Easy read
- Lengthy program divides into sub proframs

##Syntax
def nameofthefunction(<parameters>):
    statements
    return

In [0]:
#input:1234
#output:6(2+4)
def addevendigit(n):
  sum=0
  while n!=0:
    r=n%10
    if r%2==0:
      sum=sum+r
    n=n//10
  return sum
addevendigit(1234)

In [0]:
#read input
#input:19528
#output:9
def largest(n):
  l=0
  while n!=0:
    r=n%10
    if r>l:
      l=r
    n=n//10
  return l
largest(19528)

In [0]:
#input:123
#output:321
def revnum(n):
  while n!=0:
    r=n%10
    print(r,end=" ")
    n=n//10
revnum(123)

In [0]:
#input:121---121---yes
#      123---321---no
def palin(n):
  rev=0
  temp=n
  while n!=0:
    r=n%10
    rev=rev*10+r
    n=n//10
  if temp==rev:
    return "yes"
  else:
    return "no"
print(palin(123))
print(palin(121))

In [0]:
#function to print n natural numbers
def natural(n):
  for i in range(1,n+1):
    print(i,end=" ")
natural (10)

In [0]:
#natural nos(11,15)
def natural(n):
  for i in range(11,n+1):
    print(i,end=" ")
natural(15)

In [0]:
#natural nos(11,25)
def natural(l,b):
  for i in range(l,b+1):
    print(i,end=" ")
natural(11,15)

In [0]:
def natural(l,b):
  for i in range(l,b+1,3):
    print(i,end=" ")
natural(1,10)

In [0]:
def natural(l,b):
  for i in range(l,b+1,4):
    print(i,end=" ")
natural(1,10)

In [0]:
def reverserange(b,l):
  for i in range(l,b-1,-1):
    print(i,end=" ")
reveserange(1,10)

#Data Structures
- list
- tuple
- dictionary

#List:
- its one common data structure in python, the items are separated by comma and enclosed by [].
- CRUD operations
* C-create
* R-read
* U-update
* D-delete
- list values can be changed or mutable
##Example:
- list=[1,2,3,4]

In [0]:
li=[1,2,3,4,5]
print(li)
print(li[0])
print(li[1])