<a href="https://colab.research.google.com/github/siddu138/Python/blob/master/28_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#input str="pynative"
#output='p','n','t','v'. Complete this question using Function.
def split(n):
  li=list(n)
  return (li)[::2]
split('pynative')

['p', 'n', 't', 'v']

In [8]:
#Given a list of integers,return true if first and last number of a list is same
def firstandlast(n):
  if n[0]==n[-1]:
    return True
  else:
    return False
n1=[1,2,4,1]
n2=[23,4,5,6]
print(firstandlast(n1))
print(firstandlast(n2))

True
False

In [30]:
#Print the following pattern
def num(n):
  for i in range(1,n+1):
    print(str(i)*i)
num(5)

1
22
333
4444
55555

In [36]:
a=input("enter your name:")
b=int(input("enter age:"))
m=100-b
p=m+2019
print(a,'turns old in',p)

enter your name:siddharth
enter age:21
siddharth turns old in 2098